<?xml version="1.0" encoding="utf-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 		http://www.springframework.org/schema/beans/spring-beans.xsd"
>


    <bean class="com.oak.api.initator.AuthAccountInitiator">
        <property name="initData">
            <list>
                <bean class="com.oak.api.services.app.req.CreateAppAuthAccountReq">
                    <property name="appId" value="app"/>
                    <property name="appSecret" value="2aecdd9db7d816462e2232632c90f8fa"/>
                    <property name="name" value="管理后台账号"/>
                    <property name="type" value="web"/>
                    <property name="enabled" value="true"/>
                </bean>
            </list>
        </property>
    </bean>


</beans>
